<!-- contact -->
<section class="section section-on-footer" data-background="{{site.baseurl}}/assets/images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.data.settings.contact-title }}</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <h4 class="mb-80">

            runon 깃허브: <br>
            <a href="https://github.com/runonio" target="_blank">github.com/runonio</a><br>

            개발자 소개 <br>
            이메일: <a href="mailto:ysys86a@gmail.com">ysys86a@gmail.com</a><br>
            git:  <a href="https://github.com/macle86" target="_blank">github.com/macle86</a><br>
            <br>
            개인적으로 퀀트를 연구 개발하고 있으며, 자연어처리 AI회사에서 일하는 개발자 입니다. AI 버튼을 누르면 나오는 회사가 소속된 회사 입니다. 문의가 있는 경우 연락처를 첨부 하여 메일로 연락 주세요. 개발관련된 부분은 About, 오픈소스를 참고해주세요
            <br>

          </h4>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->