<!-- contact -->
<section class="section section-on-footer" data-background="{{site.baseurl}}/assets/images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.data.settings.contact-title }}</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <h4 class="mb-80">
            개발자 연락처 <br>
            이메일: <a href="mailto:ysys86a@gmail.com">ysys86a@gmail.com</a><br>
            git:  <a href="https://github.com/macle86" target="_blank">github.com/runonio</a><br>
            kakaotalk(1:1):  <a href="https://open.kakao.com/o/sspZGH3g" target="_blank">open_chat</a><br>

            <br>
            runon 깃허브: <br>
            <a href="https://github.com/runonio" target="_blank">github.com/runonio</a><br>
            <a href="https://github.com/seomse" target="_blank">github.com/seomse</a><br> <br>
            섬세한사람들(스터디모임 블로그): <br>
            <a href="https://www.seomse.com/" target="_blank">seomse.com</a><br> <br>
            카페(최근생성): <br>
            <a href="https://cafe.naver.com/radvisor" target="_blank">cafe.naver.com/radvisor</a><br> <br>

          </h4>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->