<!-- contact -->
<section class="section section-on-footer" data-background="{{site.baseurl}}/assets/images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.data.settings.contact-title }}</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <h4 class="mb-80">
            이메일: <a href="mailto:iorunon@gmail.com">iorunon@gmail.com</a><br><br>
            개발자 이메일: <a href="mailto:ysys86a@gmail.com">ysys86a@gmail.com</a><br><br>
            깃허브: <br>
            <a href="https://github.com/runonio" target="_blank">github.com/runonio</a><br>
            <a href="https://github.com/seomse" target="_blank">github.com/seomse</a><br> <br>
            섬세한사람들(개발 스터디 모임): <br>
            <a href="https://www.seomse.com/" target="_blank">seomse.com</a><br>
          </h4>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->